<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
{% include 'head.html' %}
<script src="/js/ajaxfileupload.js" type="text/javascript"></script>
<script type="text/javascript" charset="utf-8" src="/js/ueditor/editor_config.js"></script>
<script type="text/javascript" charset="utf-8" src="/js/ueditor/editor_all_min.js">
    paths = [
        'ueditoreditor.js',
        'core/browser.js',
        'core/utils.js',
        'core/EventBase.js',
        'core/dom/dom.js',
        'core/dom/dtd.js',
        'core/dom/domUtils.js',
        'core/dom/Range.js',
        'core/dom/Selection.js',
        'core/Editor.js',
        'commands/inserthtml.js',
        'commands/image.js',
        'commands/justify.js',
        'commands/font.js',
        'commands/link.js',
        'commands/map.js',
        'commands/iframe.js',
        'commands/removeformat.js',
        'commands/blockquote.js',
        'commands/indent.js',
        'commands/print.js',
        'commands/preview.js',
        'commands/spechars.js',
        'commands/emotion.js',
        'commands/selectall.js',
        'commands/paragraph.js',
        'commands/directionality.js',
        'commands/horizontal.js',
        'commands/time.js',
        'commands/rowspacing.js',
        'commands/lineheight.js',
        'commands/cleardoc.js',
        'commands/anchor.js',
        'commands/delete.js',
        'commands/wordcount.js',
        'plugins/pagebreak/pagebreak.js',
        'plugins/checkimage/checkimage.js',
        'plugins/undo/undo.js',
        'plugins/paste/paste.js',           //粘贴时候的提示依赖了UI
        'plugins/list/list.js',
        'plugins/source/source.js',
        'plugins/shortcutkeys/shortcutkeys.js',
        'plugins/enterkey/enterkey.js',
        'plugins/keystrokes/keystrokes.js',
        'plugins/fiximgclick/fiximgclick.js',
        'plugins/autolink/autolink.js',
        'plugins/autoheight/autoheight.js',
        'plugins/autofloat/autofloat.js',  //依赖UEditor UI,在IE6中，会覆盖掉body的背景图属性
        'plugins/highlight/highlight.js',
        'plugins/serialize/serialize.js',
        'plugins/video/video.js',
        'plugins/table/table.js',
        'plugins/contextmenu/contextmenu.js',
        'plugins/pagebreak/pagebreak.js',
        'plugins/basestyle/basestyle.js',
        'plugins/elementpath/elementpath.js',
        'plugins/formatmatch/formatmatch.js',
        'plugins/searchreplace/searchreplace.js',
        'plugins/customstyle/customstyle.js',
        'ui/ui.js',
        'ui/uiutils.js',
        'ui/uibase.js',
        'ui/separator.js',
        'ui/mask.js',
        'ui/popup.js',
        'ui/colorpicker.js',
        'ui/tablepicker.js',
        'ui/stateful.js',
        'ui/button.js',
        'ui/splitbutton.js',
        'ui/colorbutton.js',
        'ui/tablebutton.js',
        'ui/toolbar.js',
        'ui/menu.js',
        'ui/combox.js',
        'ui/dialog.js',
        'ui/menubutton.js',
        'ui/datebutton.js',
        'ui/editorui.js',
        'ui/editor.js',
        'ui/multiMenu.js'
        ];
</script>
<script type="text/javascript">
addTag=function(name){
	if(name==""){
		alert("没有tag内容啊大姐");
		return;
	}
	var tag = $("#tag").val();
	if(tag.indexOf(name)>-1){
		alert("有这个Tag了");
		return;
	}
	if(tag=="")
		$("#tag").val(name);
	else
		$("#tag").val(tag+" "+name);
	$("#tags").append("<li id=\"tag"+name+"\" class=\"s5 hover\"><a href=\"javascript:void(0)\">"+name+"</a><a href=\"javascript:void(0)\" onclick=\"delTag('"+name+"')\" class=\"close\" title=\"删除\"></a></li>");
};
delTag=function(name){
	$("#tag"+name).remove();
	var tag = $("#tag").val();
	tag.replace(" "+name,"");
	tag.replace(name,"");
};
$(document).ready(function(){
	$("#addTag").click(function(){
	var tag_name = $("#tag_name").val();
	if(tag_name==""){
		alert("写点tag内容啊大姐");
		return;
	}
	var tag = $("#tag").val();
	if(tag.indexOf(tag_name)>-1){
		alert("有这个Tag了");
		return;
	}
	if(tag_name==""){
		alert("请输入tag名称！");
		return;
	}
	 $.ajax({
            type: "get",
            url: "/addTag/",
            data: {
                "name": tag_name
            },
            success: function(result){
				if(result.indexOf("error")>-1){
					alert("系统忙，请稍后再试！");
				}else{
					if(tag=="")
						$("#tag").val(result);
					else
						$("#tag").val(tag+" "+result);
					$("#tags").append("<li id=\"tag"+result+"\" class=\"s5 hover\"><a href=\"javascript:void(0)\">"+result+"</a><a href=\"javascript:void(0)\" onclick=\"delTag('"+result+"')\" class=\"close\" title=\"删除\"></a></li>");
				}
            },
            error: function(){
                alert("系统忙，请稍后再试！");
            }
        });
	});
});
</script>
<script type="text/javascript">
	function ajaxFileUpload()
	{
		var filename = $("#fileToUpload").val();
		if(filename==""){
			alert("选个文件啊大姐！");
			return;
		}
		if(!filename.isPicture()){
			alert("必须是图片！");
			return;
		}
		$("#loading")
		.ajaxStart(function(){
			$(this).show();
		})
		.ajaxComplete(function(){
			$(this).hide();
		});
		
		$.ajaxFileUpload
		(
			{
				url:'/doUpload/',
				secureuri:false,
				dataType: 'json',
				fileElementId:'fileToUpload',
				data: {
	                "csrfmiddlewaretoken":getCookie('csrftoken')
	            },
				beforeSend:function()
				{
					$("#loading").show();
				},
				complete:function()
				{
					$("#loading").hide();
				},				
				success: function (data, status)
				{
					$("#loading").hide();
					if(typeof(data.error)!= 'undefined'){
						alert(data.error);
					}else{
						var atts = $("#atts").val();
						$("#fileToUpload").val("");
						$("#addFile").html("上传成功！再传一张！");
						if(atts==""){
							$("#atts").val(data.msg);
						}else{
							$("#atts").val(atts+","+data.msg);
						}
						var content = editor.getContent();
						editor.setContent(content+"<img src='"+data.msg+"'/>");
					}
					
				},
				error: function (data, status, e)
				{
					alert(e);
				}
			}
		)
		
		return false;

	}
</script>
<link rel="stylesheet" type="text/css" href="/js/ueditor/themes/default/ueditor.css"/>
<style type="text/css">
    textarea{
        float: left;
        width:300px;
        height: 400px;
        margin-left: 20px;
    }
    .clear{
        clear: both;
    }
</style>   
</head>

<body>

<!-- Wrap div -->
<div id="wrap">

	{% include 'top.html' %}

	<!-- Main Container -->
	<div id="cnt" class="pngf">

		<!-- Left Column -->
		<div id="lcnt">
			
			<!-- Post -->
			<div class="post">
				
				<!-- Post Date -->
				<dl class="date">
					<dt>
						<span>{{now|date:"d"}}</span>
					</dt>
					<dd>
						<span>{{now|date:"M"}}</span>
					</dd>
					<dd>
						<span>{{now|date:"Y"}}</span>
					</dd>
				</dl>
				
				<!-- Post Title - Permalink -->
				<h3 class="pngf">
					<a href="#">发表文章</a><br />
					<!-- Post Details -->
					<span class="pngf">Posted in Articles</span>
				</h3>
			</div>
			<div id="comments">
			
				<!-- Comment Form -->
				<form action="/addArticle/" method="post" id="cmntfrm" name="cmntfrm">
					<div id="cmntfs">
						<div class="pyct pngf"></div>
						<input type="hidden" id="tag" name="tag"/>
						<input type="hidden" id="atts" name="atts"/>
						<p id="uploadFile"><input type="file" id="fileToUpload" name="fileToUpload" style="width:210px" tabindex="2" name="file"/><button id="addFile" type="button" onclick="return ajaxFileUpload();">上传</button><img id="loading" src="/images/loading.gif" style="display:none;"><label>上传图片</label></p>
						<p><input type="text" name="title" size="22" tabindex="1" id="title"/><label>标题 <span>(required)</span></label></p>
						<p><input type="text" name="url" size="22" tabindex="1" id="url"/><label>URL <span>(字母和下划线)</span></label></p>
						<p id="categories"><input type="text" id="tag_name" style="width:100px" tabindex="2"/><button id="addTag" type="button">添加</button><label>Tag</label><ul class="clearfix" id="tags"></ul></p>
						<p><label>推荐Tag</label><ul class="clearfix">{% for tag in tags%} <li class="hover"><a href="javascript:addTag('{{tag.name}}')" class="s{{forloop.counter}}">{{tag.name}}</a></li>{% endfor %}</ul></p>
						<p>
							<textarea id="content" name="content">写点什么吧</textarea>
						</p>
						<p>
							<input type="submit" name="submit" value="Post" tabindex="5" id="submit"/>
						</p>
					</div>
				</form>


			</div>

		</div>

		{% include 'user_right.html' %}

        <br style="clear:both;"/>

	</div>

</div>

<script type="text/javascript">
	var editor = new baidu.editor.ui.Editor();
	editor.render("content");
</script>
{% include 'footer.html' %}
</body>
</html>
