<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
{% include 'head.html' %}
</head>

<body>

<!-- Wrap div -->
<div id="wrap">

	{% include 'top.html' %}

	<!-- Main Container -->
	<div id="cnt" class="pngf">

		<!-- Left Column -->
		<div id="lcnt">
			
			<!-- Post -->
			<div class="post">
				
				<!-- Post Date -->
				<dl class="date">
					<dt>
						<span>{{article.addtime|date:"d"}}</span>
					</dt>
					<dd>
						<span>{{article.addtime|date:"M"}}</span>
					</dd>
					<dd>
						<span>{{article.addtime|date:"Y"}}</span>
					</dd>
				</dl>
				
				<!-- Post Title - Permalink -->
				<h3 class="pngf">
					<a href="#">{{article.title}}</a><br />

					<!-- Post Details -->
					<span class="pngf">{{article.tag}}</span>
				</h3>
			
				<!-- Post Content -->
				<div class="bl">{{comments|length}}</div>
				<div class="clr"></div>
				<div class="content">
				<span id="adder_weibo"></span>
				<script type="text/javascript">
				WB2.anyWhere(function(W){
				    W.widget.followButton({
				        'id': "adder_weibo",'nick_name': "老蒋一休"	
				    });
				});
			</script>
				{{article.content|safe}}
				</div>			

			</div>
			<div class="cmt_nu pngf">{{comments|length}}</div>
			<div id="comments">
				{% for comment in comments%}
				<div class="comment">
				
					<div class="cmmnt_hdr">
						<p> {% ifequal comment.user.weibo ""%}
						{{comment.user.name}}
						{%else%}
						<span id="weibo{{comment.user.weibo}}_{{comment.id}}"></span>
						<script type="text/javascript">
						WB2.anyWhere(function(W){
						    W.widget.followButton({
						        'id': "weibo{{comment.user.weibo}}_{{comment.id}}",'nick_name': "{{comment.user.weibo_nick}}"	
						    });
						});
						</script>
						{%endifequal%}
						</p>
						<span class="cmmnt_time">{{comment.addtime}}</span>

					</div>

					<div class="cmmnt_txt">
						<div class="hbar pngf"><a href="javascript:void(0)" onclick="$('#content').val('回复：{{comment.user.name}}\n')">回复</a></div>
						{{comment.content}}
					</div>

				</div>
				{% endfor%}
				{% if session.user == None%}
					<a href="/register/">注册</a> 或者 <a href="/login">登录</a>
				{%endif%}
				{% if session.weibo == None%}
				<div id="comment_weibo_login"></div>			
				<script type="text/javascript">WB2.anyWhere(function(W){
				    W.widget.connectButton({
				        id: "comment_weibo_login",
				        type: '3,2',
				        callback : {
				            login:function(o){
				                $.ajax({
					            type: "post",
					            url: "/weiboJsBack/",
					            data: {
					                "weibo":o.idstr,
					                "weibo_nick":o.screen_name,
					                "csrfmiddlewaretoken":getCookie('csrftoken')
					            },
					            success: function(result){
									window.location.reload();
					            },
					            error: function(){
					                alert("系统忙，请稍后再试！");
					            }
					        });
				            },
				            logout:function(){
				                window.location="/logout/";
				            }
				        }
				    });
				});</script>
				{% else%}
				<!-- Comment Form -->
				<form action="/addComment/" method="post" id="cmntfrm">
					<div id="cmntfs">
						<div class="pyct pngf"></div>
						<input type="hidden" name="articleId" value="{{article.id}}"/>
						<p>{{session.weibo_nick}}<label>Name </label></p>
						<p>
							<textarea name="content" cols="64" rows="10" tabindex="4" id="content"></textarea>
						</p>
						<p>
							<input type="submit" name="submit" value="Post comment" tabindex="5" id="submit"/>
						</p>
					</div>
				</form>
				{% endif%}
				

			</div>

		</div>

		{% include 'right.html' %}

        <br style="clear:both;"/>

	</div>

</div>

{% include 'footer.html' %}
</body>
</html>
