<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
{% include 'head.html' %}
</head>

<body>

<!-- Wrap div -->
<div id="wrap">

	{% include 'top.html' %}

	<!-- Main Container -->
	<div id="cnt" class="pngf">

		<!-- Left Column -->
		<div id="lcnt">
			
			<!-- Post -->
			<div class="post">
				
				<!-- Post Date -->
				<dl class="date">
					<dt>
						<span>{{now|date:"d"}}</span>
					</dt>
					<dd>
						<span>{{now|date:"M"}}</span>
					</dd>
					<dd>
						<span>{{now|date:"Y"}}</span>
					</dd>
				</dl>
				
				<!-- Post Title - Permalink -->
				<h3 class="pngf">
					<a href="#">做点什么吧</a><br />

					<!-- Post Details -->
					<span class="pngf">今天天气咋样？</span>
				</h3>
			</div>
			<div id="comments">
			


			</div>

		</div>

		{% include 'user_right.html' %}

        <br style="clear:both;"/>

	</div>

</div>

{% include 'footer.html' %}
</body>
</html>
