
		<!-- Right Column -->
		<div id="rcnt">
			<div id="weibo">
				{% if session.user == None%}
				<a href="/weiboLogin" style="height:25px"><img src="/images/sina_login_btn.png"></a>
				{% else%}
				<h2>欢迎你，{{session.user.name}}</h2>
				{% endif%}
			</div>
			<!-- Search form -->
			<div id="search" class="pngf">

				<form id="search_form" action="" method="get">
					<input class="search_field" type="text" value="search..." onfocus="clS(1);" onblur="clS(0);"  name="s" id="s" />
					<input class="search_button" type="submit"  value="" id="searchsubmit" />
				</form>

			</div>
			
			<!-- Categories -->
			<div id="cats" class="pngf"> 

				<div class="categories pngf"></div>
				<a href="/home/">后台首页</a>
				<a href="/add/">添加文章</a>
				<a href="/articleAdmin/">管理文章</a>
				<a href="/commentAdmin/">管理评论</a>
				<a href="/photoAdmin/">管理照片</a>
				<a href="/upload/">上传照片</a>
				<a href="/tagAdmin/">管理Tag</a>
				<!-- a href="/recycle/">回收站</a-->
				<a href="/logout/">注销</a>

			</div>

			<div id="cats_end" class="pngf"></div>
		
			{% include 'recent.html' %}

		</div>
